[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
requests = "*"
yfinance = "*"
arch = "*"
django = "*"
joblib = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
